* {
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

body {
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
}

@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/button';
@import 'blocks/icons';