.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: block;
    }
    &__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__phone {
        margin-right: 19px;
        div {
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            text-align: right;
        }
        a {
            font-size: 19px;
            font-weight: 700;
            text-align: right;
            color: #ffffff;
            text-decoration: none;
        }
    }
}