.price {
    min-height: 552px;
    padding-top: 53px;
    &__subtitle {
        font-size: 21px;
        font-weight: 300;
        line-height: 1.14;
        text-align: center;
        color: #2e2e2e;
    }
    &__price-cards {
        margin-top: 34px;
    }
}